@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: black;
    margin: 0;
}


/* Header */

.header {
    width: 100%;
    height: 50px;
    top: 0;
    background-color: #222222;
    overflow: hidden;
}

.logo {
    width: 180px;
    height: 45px;
    cursor: pointer;
}

.header_baslik {
    font-family: 'Roboto', sans-serif;
    background-color: #105c48c9;
    width: max-content;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 5px;
}


/* ---------- */

.left {
    width: 34%;
    height: 100%;
    left: 0%;
    float: left;
}

.middle {
    width: 34%;
    left: 34%;
    right: 32%;
    float: left;
    overflow: hidden;
}

.right {
    width: 32%;
    height: 100%;
    right: 0%;
    float: right;
}


/* CodeSpace */

.workspace {
    top: 50px;
    bottom: 50px;
    height: 90%;
    width: 100%;
}

.leftworkspace {
    background-color: whitesmoke;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: min-content;
}
.bilgialanı {
    background-color: #105c48;
    height: 4vh;
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.hintbutton{
    color: white;
    background-color: #105c48;
    align-self: flex-end;
    justify-self: flex-end;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 5px;
    border: none;
    transition-duration: 0.4s;
}
.hintbutton:focus{
    outline: 0 !important;
}
.hintbutton:hover{
    background-color: whitesmoke;
    color: #0d4b3a;
    border: solid 1px #0d4b3a;
}

.middleworkspace {
    background-color: rgb(49, 51, 53);
    overflow: hidden;
}

.rightworkspace {
    background-color: black;
    color: white;
}


/* ---------------- */


/* Footer */

.footer {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: rgb(34, 34, 34);
}

.footerbutton {
    width: 50px;
    height: 30px;
    background-color: #105c48c9;
    border: none;
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    opacity: 1;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footerbutton:hover {
    background-color: whitesmoke;
    color: #0d4b3a;
}

.bdisabled {
    pointer-events: none;
    opacity: 0.5;
}


/* -------------------------- */


/* CodeMirror*/

.CodeMirror {
    font-size: 16px;
    position: static;
}


/* ------------------------ */


/* Tutorial (API'den gelenler) */

.intro {
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    color: #1b1b1b;
}

.introBox {
    background-color: #1b1b1b;
    color: white;
    width: 90%;
    margin: auto;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 50px;
    font-size: larger;
    display: inline-block
}

.introHead {
    text-shadow: 0.3px 0.3px #105c48c9;
    color: #105c48c9;
    font-weight: bold;
    text-decoration: underline;
}


/* ------------------- */