body {
    background-color: black;
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    top: 0;
    background-color: rgb(34, 34, 34);
}

.left {
    width: 34%;
    height: 100%;
    left: 0%;
    float: left;
}

.middle {
    width: 34%;
    height: 100%;
    left: 34%;
    right: 32%;
    float: left;
    overflow: hidden;
}

.right {
    width: 32%;
    height: 100%;
    right: 0%;
    float: right;
}

.workspace {
    top: 50px;
    bottom: 50px;
    height: 90%;
    width: 100%;
}

.leftworkspace {
    background-color: whitesmoke;
}

.middleworkspace {
    background-color: rgb(49, 51, 53);
}

.rightworkspace {
    background-color: black;
    color: white;
}

.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: rgb(34, 34, 34);
}

.CodeMirror {
    font-size: 16px;
}

.intro {
    padding-left: 10px;
    padding-right: 10px;
}

.introBox {
    background-color: #1b1b1b;
    color: white;
    height: 50px;
    width: 90%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: larger;
}

.introHead {
    padding-left: 10px;
    background-color: #e3e3e3;
    height: 35px;
}